.one {
	height: 200px;
	width: 200px;
	background-color: rgb(51, 102, 255);
	border: 1px solid black;
	transition-property: border;
	transition-duration: 1s;
}

.one:hover {
	background-color: rgb(255, 80, 80);
	border: 10px dotted black;
}